LATIDO_APP_NAME=Latido
LATIDO_FIREBASE_API_KEY=REPLACE_FIREBASE_API_KEY
LATIDO_FIREBASE_AUTH_DOMAIN=REPLACE_FIREBASE_AUTH_DOMAIN
LATIDO_FIREBASE_PROJECT_ID=REPLACE_FIREBASE_PROJECT_ID
LATIDO_FIREBASE_STORAGE_BUCKET=REPLACE_FIREBASE_STORAGE_BUCKET
LATIDO_FIREBASE_MESSAGING_SENDER_ID=REPLACE_FIREBASE_MESSAGING_SENDER_ID
LATIDO_FIREBASE_APP_ID=REPLACE_FIREBASE_APP_ID
LATIDO_FIREBASE_VAPID_KEY=
LATIDO_FIREBASE_MEASUREMENT_ID=
